/* estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ffffff; /* FUNDO BRANCO */
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

h2.titulo {
    color: #ff4da6;
    font-size: 35px;
    text-align: center;
}

h2.titulo span {
    color: #ff85c1;
}

button:hover {
    box-shadow: 0 0 8px #ff85c1;
    transform: scale(1.05);
}

/* estilo cabeçalho */
header {
    padding: 40px 4%;
}

header a {
    color: #888;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

header a:hover {
    color: #ff4da6;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header .contato button {
    padding: 13px 35px;
    font-size: 12px;
    font-weight: 500;
    background-color: #ff4da6;
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

/* estilo topo */
section.topo-do-site {
    padding: 60px 4%;
}

.topo-site h1 {
    color: #ff4da6;
    font-size: 40px;
    line-height: 40px;
}

.topo-site h1 span {
    color: #ff85c1;
}

.topo-site .txt-topo-site p {
    color: #555;
    margin: 40px 0;
}

/* especialidades */
section.especialidades {
    padding: 40px 4%;
}

.especialidades .especialidades-box {
    color: #555;
    padding: 40px;
    border-radius: 25px;
    margin-top: 40px;
    transition: 0.2s;
    background-color: #ffffff; /* branco */
    border: 2px solid #ff85c1; /* detalhe rosa */
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffcce6;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #ff4da6;
}

/* sobre */
section.sobre {
    padding: 80px 4%;
}

.txt-sobre {
    color: #555;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #ff4da6;
}

.sobre .txt-sobre h2 span {
    color: #ff85c1;
}

/* social */
.social button {
    background-color: #ff4da6;
    color: #fff;
}

/* portfolio */
section.portfolio {
    padding: 80px 4%;
    background-color: #ffffff; /* AGORA BRANCO */
    box-shadow: none;
}

/* overlay */
.overlay {
    background-color: rgba(255, 77, 166, 0.4);
    color: #fff;
}

/* rodape */
.borda {
    border-top: 2px solid #ff4da6;
}

footer .line-footer p i,
footer .line-footer a {
    color: #ff4da6;
}
